.content {
  width: 100%;
  flex: 1 0 auto;
  background-color: #EFEFEF;

  &__img {
    height: 604px;
    max-width: $max-width;
    width: 100%;
    background-image: url('../../assets/images/main-image.webp');
    background-size: cover;
    background-position: center center;
    padding-top: 192px;
  }

  &__header{
    color: #FFFFFF;
  }

  &__header_header_main{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 3.43rem;
    line-height: 4rem;
    margin-left: 21.09%;
  }

  &__header_header_extra{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.43rem;
    max-width: 305px;
    margin-bottom: 50px;
    max-width: 308px;
    margin-left: 21.09%;
  }

  &__info {
    margin-left: 21.09%;
    width: 170px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }

  &__offers {
    background-color: #EFEFEF;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header_header_offers {
    font-size: 1.71rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0em;
    color: black;
    margin-top: 80px;
    margin-bottom: 38px;
    padding-left: 21.09%;
    max-width: 1920px;
    width: 100%;
  }

  &__card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 100px;
  }
  &__form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }
}

@media (max-width:1150px) {
  .content {
    &__form-wrapper,&__card-wrapper {
      flex-direction: column;
    }
    &__header_header_offers {
      margin: 20px auto;
    }
  }

}

@media (max-width:1024px) {
  .content {
    &__img {
      padding-top: 50px;
    }
  }

}
