.callback {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;

  &__ref {
    width: 170px;
    height: 40px;
    border: 2px solid #66C05D;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:440px) {
  .callback {
    flex-direction: column;
    gap: 20px;
  }
}

